/saves/
/crash-reports/
/downloads/
/dumps/
/journeymap/
/backups/
/logs/
/screenshots/
/shaderpacks/
/ops.json
/options.txt
/minetweaker.log
/.curseclient
/llibrary/
/customnpcs/
/compendiumunlocks/
/igwmod/