/saves/
/crash-reports/
/downloads/
/dumps/
/journeymap/
/backups/
/logs/
/screenshots/
/shaderpacks/
/ops.json
/options.txt
/minetweaker.log
/.curseclient
/llibrary/
/customnpcs/
/compendiumunlocks/
/igwmod/
config/MouseTweaks.cfg
config/UniqueNames.txt
/ChromatiCraft_Data
/DragonAPI
/.mixin.out/audit
/asm
betterfps.txt
BotaniaVars.dat
/FailedClasses
/mod-config
